body {
    background-color:lightslategray;
    
    
}


.container {
    background-color:#ffffff;
    margin-top:2%;
    margin-bottom:13%;
    width:960px;

}

.kimani-kelly {
    background-color:#4aaaa5;
    color:#ffffff;
    padding-top:10px;
    padding-right:23px;
    padding-left:30px;
    margin-left:177px;
    margin-right:421px;
  
}
.nav-links {
    padding-left:10px;
    margin-top:10px;
    color:#777777
}

.nav-link {
    color:#777777;
}

#about-me {
    margin-left:13.4px;
    margin-top:16%;
    color:#4aaaa5;
    padding-bottom:10px;
    
}

img {
    width:202px;
    height:150px;
    margin-top:23px;
    margin-left:13px;
}

p {
    margin-top:18%;
    line-height:36px;
    color:#777777;
    
}

footer {
    background-color:#666666;
    border-bottom:8px solid black;
    margin-top:10px;
    border-top:8px solid #4aaaa5;
    padding-bottom:35px;
    
}

.container-2 {
    text-align:center;
    padding-top:10px;
}